a:link{
   text-decoration: none;
   color: inherit;
}
a:visited{
   color: inherit;
}

.img-card {
   height: 100%;
   width: 100%;
   object-fit: contain;
   object-position: center;

}
.color{
   background-color: #52349d;
}
.img-load {
   height: 100%;
   width: 100%;
   object-fit: contain;
   object-position: center;

}